.navbar {
    background-color: skyblue;
    display: flex;
    padding: 25px;
    justify-content: center; /* Adjusted to evenly space items */
    position: fixed;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 25%;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: white;
    transition-duration: 0.5s;
}

/* Adjust margin or padding for individual li elements */
.navbar .home {
    margin-right: auto; /* Pushes HOME to the start */
}

.navbar .support {
    margin-left: auto; /* Pushes SUPPORT to the end */
}


.accountDropDown {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* Dynamic display of .accountDropDownContent */
.accountDropDown .accountDropDownContent {
    display: none;
    position: absolute;
    background-color: rgb(71, 138, 165);
    width: 300px;
    padding: 10px;
}

.accountDropDown:hover .accountDropDownContent {
    display: block;
}

.accountDropDownContent li {
    transition: 0.5s ease;
    padding: 5px;
}

.accountDropDownContent li:hover {
    transform: translate(10px);
}